.item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 81px;
}
.item:not(:last-child){
    border-right: 1px solid #000000;
}
.label{
    color: #768696;
    margin-bottom: 10px;
}
.quantity{
    color: #122236;
    font-weight: bold;
}